/* Heading Styling */
#heading {
	text-align: center;
	padding-bottom: 2%;
	border-bottom-style: solid;
	background-color: #dddddd;
}
#heading h1 {
	padding-bottom: 2%;
}
#heading h2 {
	margin-top: 0;
	font-family: monospace;
}

/* Reviews styling */
#reviews {
	width: 90%;
	text-align: center;
	margin: auto;
}

#reviews * {
	margin: 0 auto;
}

#reviews h3 {
	max-width: 75%;
	overflow: hidden;
	padding: 5%;
	padding-bottom: 7.5%;
}

#reviews h3 {
	padding-bottom: 0;
}

#reviews img {
	margin: 5%;
	margin-top: 2%;
	height: auto;
	width: 15%;
}